.social-item {
  display: flex;
  justify-content: center;
  background-color: var(--button-color);
  padding-bottom: 30px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-list {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--icon-color);
  background-color: var(--button-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .social-icon,
  &:focus .social-icon {
    fill: var(--button-color);
  }
}
